<div class="adminPage">
    <h1>Admin Account</h1>
    <div class="row">
        <div>
            <img class="adminpic" style="height: 250px; width: 250px; margin-bottom: 20px;" src="<%= currentUser.pic %>" alt="profile pic">
        </div>
        <div class="drinkContainer" style="text-align: justify; padding: 5px 20px;">
            <p><strong>Name: </strong><%= currentUser.firstname %> <%= currentUser.lastname %></p>
            <p><strong>Birthday: </strong><%= moment(currentUser.birthday).format('dddd MMMM Do[,] YYYY') %></p>
            <p><strong>Account Created On: </strong> <%= moment(currentUser.createdAt).format('dddd MMMM Do[,] YYYY') %></p>
            <p><strong>About: </strong><%= currentUser.bio %></p>
        </div>
        <div class="drinkContainer" style="padding: 5px 20px;">
            <h4>View User Pages</h4>
            <div style="display: grid; grid-template-columns: 1fr 1fr;">
                <% users.forEach(u => { %> 
                    <div>
                        <a href="/profile/guest/<%=u.id%>">
                            <%= u.firstname %> <%= u.lastname %>
                            <% if (currentUser.id == u.id) { %> 
                                (Hey, it's you!)
                            <% } %>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

