

<div class="userInfo">
    <div>
        <h5 style="position: absolute;top: 0; left: 0; right: 0;z-index: 4;text-shadow: 0px 0px 10px black;">Welcome to <%= userProfile.firstname %>'s page</h5>
        <img class="coverBackground" src="<%= userProfile.cover %>">
        <div>

            <img class="userCover" src="<%= userProfile.cover %>">
        </div>
    </div>
    
    <div>
        <img class="profpic" src="<%= userProfile.pic %>" alt="profile pic">
    </div>
    <h3><%= userProfile.firstname %> <%= userProfile.lastname %></h3>
    <p><strong></strong><%= userProfile.bio %></p>
    <div class="userBar">
        <p>City: <%= userProfile.city %></p>
        <p>Worked at <%= userProfile.bar %></p>
    </div>
</div>

<div class="drinkContainer" style="background-color: #263238;margin-top: 30px;padding: 5px 0 0 0;">
    <h4><%= userProfile.firstname %>'s Favorite Cocktails</h4>
    <div class="catContainer">
        <div class="drinkCats">
            <% if (userProfile.faves.length) { %>
                <% userProfile.faves.forEach(f => { %>
                    <div class="catBox">
                        <div class="catTitle">
                            <div>
                            
                                <% for (let i = 0; i < drink.length; i++) { %>
                                    <% if ( drink[i].idDrink == f.drinkId) { %> 
                                    
                                        <a href="/drinks/info?i=<%= f.drinkId %>"><img class="catPic" src="<%=drink[i].strDrinkThumb%>" alt="Drink Image"></a>
                                    <% } %>
                                <% } %>
                                <% for (let i = 0; i < drank.length; i++) { %>
                                    <% if ( drank[i].idDrink == f.drinkId) { %> 
                                    
                                        <a href="/drinks/info?i=<%= f.drinkId %>"><img class="catPic" src="<%=drank[i].strDrinkThumb%>" alt="Drink Image"></a>
                                    <% } %>
                                <% } %>
                            </div>
                            <div>
                                <h5 style="font-size: 18px;"><%= f.name  %></h5>
                            </div>
                        </div>
                    </div>
                <% }) %>   
            <% } else { %> 
            </div>
                <p style="margin: -20px auto 20px auto; font-size:18px;"><%= userProfile.firstname %> doesn't have any favorite drinks yet, bummer...</p>
            <% } %> 
</div>