<h1><%= currentUser.firstname %>'s Profile</h1>

<div class="row">
    <div class="col s4">
        <img class="profpic" src="<%= currentUser.pic %>" alt="profile pic">
    </div>
    <div>
        <p><strong>Name: </strong><%= currentUser.firstname %> <%= currentUser.lastname %></p>
        <p><strong>Birthday: </strong><%= moment(currentUser.birthday).format('dddd MMMM Do[,] YYYY') %></p>
        <p><strong>Account Created On: </strong> <%= moment(currentUser.createdAt).format('dddd MMMM Do[,] YYYY') %></p>
        <p><strong>About: </strong><%= currentUser.bio %></p>
    </div>
</div>