
    <div class="userInfo">
        <div>
            <img class="coverBackground" src="<%= currentUser.cover %>">
            <div>

                <img class="userCover" src="<%= currentUser.cover %>">
            </div>
        </div>
        
        <div>
            <img class="profpic" src="<%= currentUser.pic %>" alt="profile pic">
        </div>
        <h3><%= currentUser.firstname %> <%= currentUser.lastname %></h3>
        <p><strong></strong><%= currentUser.bio %></p>
        <div class="userBar">
            <p>City: <%= currentUser.city %></p>
            <% if (currentUser.bar) { %> 
                <p>Worked at <%= currentUser.bar %></p>
            <% } %>
            <form action="/profile/user/<%=currentUser.id%>/edit?" method="GET">
                <button class="btn btn-small waves-effect waves-light cyan darken-3" type="submit">
                <i class="material-icons left" style="margin: 0 0 0 0;">edit</i> Edit Profile
                </button>
            </form>
        </div>
    </div>
    
    

    <div class="drinkContainer" style="background-color: #263238;margin-top: 30px;padding: 5px 0 5px 0;width: 80%;">
        <h4><%= currentUser.firstname %>'s Favorite Cocktails</h4>
        <div class="catContainer">
            <div class="drinkCats">
                <% if (user.faves.length) { %>
                    <% user.faves.forEach(f => { %>
                        <div class="catBox">
                            <div class="catTitle">
                                <div>
                                    <% for (let i = 0; i < drink.length; i++) { %>
                                        <% if ( drink[i].idDrink == f.drinkId) { %> 
                                        
                                            <a href="/drinks/info?i=<%= f.drinkId %>"><img class="catPic" src="<%=drink[i].strDrinkThumb%>" alt="Drink Image"></a>
                                        <% } %>
                                    <% } %>
                                    <% for (let i = 0; i < drank.length; i++) { %>
                                        <% if ( drank[i].idDrink == f.drinkId) { %> 
                                        
                                            <a href="/drinks/info?i=<%= f.drinkId %>"><img class="catPic" src="<%=drank[i].strDrinkThumb%>" alt="Drink Image"></a>
                                        <% } %>
                                    <% } %>
                                </div>
                                <div>
                                    <h5 style="font-size: 18px; margin: 0 0 10px 0;"><%= f.name  %></h5>
                                    <form action="/drinks/fave/<%=f.id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-small waves-effect waves-light red darken-4" type="submit">
                                        <i class="material-icons left">delete</i> Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% }) %>   
                <% } else { %>
                    
                </div>
                <h5 style="font-size: 18px; text-align: center;">No favorite drinks? Take a look at the <a href="/">drinks</a> page!</h5>
                <% } %>
    </div>

