<div class="homeTitle" style="width: 80%; margin:0 auto;">
    <h1>Tipped</h1>
    <hr>
    <h4>A cocktail resource for bartenders</h4>
</div>

<div class="searchDrink">
    <div class="center row">
        <div class="col s12" >
          <div class="row" id="topbarsearch">
            <div class="input-field col s6 s12 red-text">
              <i class="cyan-text text-lighten-2 material-icons left">search</i>
              <form action="/drinks/list" method="GET">
                  <input name="s" type="text" placeholder="Search Cocktails" id="autocomplete-input" class="autocomplete red-text" >
              </form>
            </div>
          </div>
        </div>
    </div>    
</div>


<div class="catContainer">
    <h4>Find Drinks By Category</h4>
    <div class="drinkCats">
        <% for (let i = 0; i < drink.length; i++) { %>
            <% if (drink[i].strCategory == 'Homemade Liqueur') { continue; } %>
            <div class="catBox">
                <div class="catTitle">
                    <div>
                        <a href="/drinks/list?c=<%=drink[i].strCategory%>"><img class="catPic" src="<%=image[i]%>" alt="Drink Image"></a>
                    </div>
                    <div>
                        <% if (drink[i].strCategory == 'Milk / Float / Shake') { drink[i].strCategory = 'Floats and Shakes' } %>
                        <% if (drink[i].strCategory == 'Other/Unknown') { drink[i].strCategory = 'Novelty Drinks' } %>
                        <% if (drink[i].strCategory == 'Coffee / Tea') { drink[i].strCategory = 'Coffee' } %>
                        <% if (drink[i].strCategory == 'Punch / Party Drink') { drink[i].strCategory = 'Party Drinks' } %>
                        <% if (drink[i].strCategory == 'Soft Drink / Soda') { drink[i].strCategory = 'Soft Drinks' } %>
                        <% if (drink[i].strCategory == 'Cocktail') { drink[i].strCategory = 'Classic Cocktails' } %>
                        <% if (drink[i].strCategory == 'Ordinary Drink') { drink[i].strCategory = 'Standard Cocktails' } %>
                        <% if (drink[i].strCategory == 'Shot') { drink[i].strCategory = 'Shots' } %>
                        <h5><%= drink[i].strCategory  %></h5>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>

<div class="catContainer">
    <h4>Find Drinks By Alcohol Content</h4>
    <div class="drinkCats">
        <div class="catBox">
            <div class="catTitle">
                <div>
                    <a href="/drinks/list?a=Alcoholic" ><img class="catPic" src="https://www.thecocktaildb.com/images/media/drink/vcyvpq1485083300.jpg" alt="Drink Image"></a>
                </div>
                <div>
                    <h5>Alcoholic Drinks</h5>
                </div>
            </div>
        </div>
        
        <div class="catBox">
            <div class="catTitle">
                <div>
                    <a href="/drinks/list?a=Non_Alcoholic" ><img class="catPic" src="https://www.thecocktaildb.com/images/media/drink/vqquwx1472720634.jpg" alt="Drink Image"></a>
                </div>
                <div>
                    <h5>Non-Alcoholic</h5>
                </div>
            </div>
        </div>
        
    </div>
</div>



<div class="ingContainer">
    <h4>Find Drinks By Base Liquor</h4>
    <div class="ingBox">
        <% for (let i = 0; i < 5; i++) { %>
            <div>
                <a href="/drinks/list?i=<%= ingredient[i].strIngredient1 %>"><img class="ingThumb" src="https://www.thecocktaildb.com/images/ingredients/<%= ingredient[i].strIngredient1 %>-Medium.png "></a>
                <h5><%= ingredient[i].strIngredient1 %></h5>
            </div>
        <% } %>
    </div>
</div>
